/* .centrar {
    font-size: 2rem;
    position: relative;        
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;   
    gap: 1rem;
}
.change{
    font-size: 1rem;
} */